.main {
    
    background-image: url(image/donate.jpg);
    background-position:initial;
    background-repeat: no-repeat;
    background-size: cover; 
}

.home_banner {
    color: white;
    /* position: relative; */
    left: 615px;
    top: 140px;
    position:absolute
}

.nav-link:hover{
    background-color: #82cc9b;
}
.nav-link{
    font-size: 1rem;
}
.donate {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: left; 
    justify-content: left;
    color: rgb(241, 233, 233);
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color:#295939;
    
    }

.donate:hover {
    background-color:#00917c;
}

.about {
    background-color: #ff7b54;
    background-image: url(image/charity.jpg);
    background-position:initial;
    background-repeat: no-repeat;
    background-size: cover; 
}

#about {
    position: relative;
    top: 77px;
    right: 20px;
    font-size: 20px;
    font-family: cursive;
    color: #2c061f;
}

.contact {
    background-color: #e3e8eb;
    background-image: url(image/contact.jpg); 
    background-position:initial;
    background-repeat: no-repeat;
    background-size: cover; 

}

.contact-sec {
    position: relative;
    top: 150px;
    left: 400px;
    width: 100%;
    border:#000
    
}

.h1 {
    position: relative;
    right: 100px;
    top: 50px;
}

.do {
   background-image: url(image/donation.jpeg);
   background-position: initial;
   background-repeat: no-repeat;
   background-size: cover; 
}

.sign-up-form
	{
		width:450px;
		box-shadow: 0 0 3px 0 rgba(255, 0, 0, 0.8);
		background:#fff;
		padding:20px;
		/* margin:5% auto 0; */ 
        margin:5%;
        margin-top: 6%; 
		text-align:center;
		border-radius: 35px; 
		opacity:0.8;
        		}
	.sign-up-form h1
	{
		color:#1c8adb;
	margin-bottom:30px;
	font-size:23px;
	}
	img
	{
		width:100px;
		margin-top:-10px;
		
	}
	.header_area
	{
		padding-top:20px;
	}

    .don{
        color: antiquewhite;
        font-size:20px ;
        margin: 7%;
       margin-top: 1%;
       margin-bottom: -4.5%;
       /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    }

    /* Contact us */
      .contact .info .email, .contact .info .phone {
        margin-top: 40px;   
    }

    .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
            background: #34b7a7;
            color: #fff;
        }

    .contact .php-email-form button[type=submit] {
                background: #34b7a7;
                border: 0;
                padding: 10px 30px 12px 30px;
                color: #fff;
                transition: 0.4s;
                border-radius: 50px;
    }

    .contact .php-email-form button[type=submit]:hover {
                background: #3dc8b7;
    }

    .contact .info i {
        font-size: 20px;
        color: #34b7a7;
        float: left;
        width: 44px;
        height: 44px;
        background: #effbf9;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
        margin: 10px;
      }
      .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
        background: #34b7a7;
        color: #fff;}

    .contact .container {
        /* text-align: center; */
        position: absolute;
        left: 17%;
    }

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1216px;
    }